[alias]
	amd=!git add . && git commit --amend
	b=branch
	break=!git add -A && git cm "break"
	cm=commit -m
	co=checkout
	cob=checkout -b
	cp=cherry-pick
	ck=cherry-pick --skip
	cc=cherry-pick --continue
	ca=cherry-pick --abort
	pr=pull --rebase
	prom=pull --rebase origin master
	pf=push -f
	rc=rebase --continue
	rk=rebase --skip
	rs=reset --soft HEAD~
	hard=reset --hard HEAD
	z=!git reset --soft HEAD~ && git add . && git commit -m
	s=status
	lg1=log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2=log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg=!"git lg1"
	addremote=!git remote add origin
	red=reset .
	preclean=!git fetch -p && git branch -vv | grep ': gone]' | grep -v "\\*"
	cleanlocal=!"git branch -vv | grep ': gone]'|  grep -v '\\*' | awk '{ print $1; }' | xargs -r git branch -D"
